#landing {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    margin: auto;
}

#landing_wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    background: green;
    color: white;
    text-align: center;
}

#landing_content {
    display: inline-block;
    background: blue;
}


#landing_logo {
  height: 27.41vh;
}

.landing_logo_hr {
  border: 0;
  height: 5px;
  background: white;
}

.landing_bump {
  margin-top: -10px;
}

h1.info {
  font-size: 5vw;
}

h1.button {
  font-size: 6vw;
}
h2.button {
  font-size: 5vw;
  color: #4040c0;
}

.button {
  font-family: 'Computer Modern Sans Demi-Condensed';
  text-transform: uppercase;
}

@media screen and (min-aspect-ratio: 1/1) {
  h1.info {
    font-size: 5vh;
  }
  h1.button {
    font-size: 6vh;
  }
  h2.button {
    font-size: 5vh;
  }

}
