#landing {
    display: table-cell;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    vertical-align: middle;
    text-align: center;
}

#landing_wrapper {
    display: inline-block;
}

#landing_logo {
  height: 27.41vh;
}

.landing_logo_hr {
  border: 0;
  height: 5px;
  background: white;
  width: 90vw;
}

.landing_bump {
  margin-top: -10px;
}
